<h1 class="text-3xl">
  <%= button_to "start a new game", games_path(game: {user_pseudo: "test"}), method: :post, class: "h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" %>
  <a href="http://localhost:3000/games/d25ef333-db3a-4316-9bcf-09e909dc1a56/play">Partie</a>
</h1>