<main class="row center-xs full-height  middle-xs">
  <div class="game-starter col-xs-6">
    <h1 class="game-starter__title">
      PONTU
    </h1>
      <%= button_to "start a game as a guest",
                    games_path,
                    method: :post,
                    class: "button button--large"
                    %>
    </h1>
  </div>
</div>