<main class="game-board" data-controller="game-board">
  <div class="game-board__content" data-game-board-target="content" data-action="mousedown->game-board#followMouse mouseup->game-board#unfollowMouse">
    <% 10.times do %>
      <div class="game-board__slot-row">
        <% 10.times do %>
          <div class="game-board__slot">
            <%= current_or_guest_user.pseudo %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</main>

<aside class="game-tool game-tool--opened">

</aside>