:root {
  --color-dark-blue: #232946;
  --color-pink: #eebbc3;
  --color-white: #fffffe;
  --color-light-blue: #b8c1ec;
  --color-darker-blue: #121629;

  --font-family: 'Inter', sans-serif;

  --radius-large: 16px;
  --radius-medium: 8px;
  --radius-small: 4px;
  --radius-tiny: 2px;
}